.hero {
  position: relative;
  width: 100%;
}

.carousel-slide1 {
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/public/ourpartners/banner.png);
 /* Adjust text color based on your design */
}
.carousel-slide2 {
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/public/ourpartners/banner2.jpg);
 /* Adjust text color based on your design */
}
.carousel-slide3 {
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/public/ourpartners/banner3.jpg);
 /* Adjust text color based on your design */
}
.carousel-slide4 {
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/public/ourpartners/banner4.jpg);
 /* Adjust text color based on your design */
}

.container-hero {
  text-align: center;
}

.content-hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.content-hero h1 {
  color: #fff; /* Set title color to white */
  font-size: 60px;
}

.content-hero p {
  color: #fff; /* Set subtitle color to white */
  opacity: 0.8;
}
form {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding: 0 20px;
}
form input {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}
form span {
  font-size: 14px;
  color: grey;
}
input::placeholder {
  font-size: 17px;
  color: black;
}
form .box {
  padding: 15px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
}
form .box:nth-child(1) {
  border-left: none;
}
form h4 {
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .hero .container {
    padding-top: 30%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  form .box {
    border-left: none;
  }
  form input {
    width: 100%;
  }
}
